.copy-icon {
    color: var(--primary-text-color);
    background-color: white;
    padding: 11px;
    border-radius: 8px 8px 0px 0px;
    border: 2px solid var(--secondary-text-color);
    user-select: none;
    cursor: pointer;
}