.card-box {
    border: solid 1px #4F6F52;
    border-radius: 12px;
    padding: 1rem;
}

.card-inner {
    max-height: 370px;
    overflow: auto;
}

.card-inner .card {
    border-radius: 0.8rem;
    margin-right: 0.2rem;
    cursor: pointer;
}

.card-inner .card .circle {
    min-width: 2.7rem;
    height: 2.5rem;
    background-color: #4F6F52;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card-inner .card .card-number {
    text-align: end;
    font-weight: 600;
    color: gray;
}

.ellipsis {
    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width:480px) {
    .ellipsis {
        width: 144px;
    }
}

.txt-dotted {
    @extend .ellipsis;
}