html,
:host {
    -webkit-text-size-adjust: 100%;
}

.h-screen {
    height: calc(var(--vh, 1vh) * 100 - 120px);
}

.md\:h-screen {
    height: calc(var(--vh, 1vh) * 100 - 120px);
}

.primary-bg {
    background-color: #004AAD;
}

.text-color {
    color: #E385EC;
}

.secondary-bg {
    background-color: #E385EC;
}

.bg-gradient {
    background: linear-gradient(360deg, #004aad, #e385ec);
}

.w-512 {
    width: 512px;
}

.inpt,
.mantine-PinInput-wrapper {
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.inpt:active {
    transform: scale(0.95);
}

.mantine-PinInput-wrapper:active {
    transform: scale(1.1);
}