html,
:host {
    -webkit-text-size-adjust: 100%;
}

.h-screen {
    height: calc(var(--vh, 1vh) * 100 - 128px);
}

.md\:h-screen {
    height: calc(var(--vh, 1vh) * 100 - 128px);
}

.primary-bg {
    background-color: #004AAD;
}

.text-color {
    color: #E385EC;
}

.secondary-bg {
    background-color: #E385EC;
}

.bg-gradient {
    background: linear-gradient(360deg, #004aad, #e385ec);
    /* background: linear-gradient(90deg, #004aad, #e385ec); */
}

.w-512 {
    width: 512px;
}

/* @media (min-width:768px) {
    .bg-gradient {
        background: linear-gradient(90deg, #004aad, #e385ec);
    }
} */