html,
:host {
    -webkit-text-size-adjust: 100%;
}

.h-screen {
    height: calc(var(--vh, 1vh) * 100);
}
.primary-bg{
background-color: #004AAD;
}
.text-color{
    color: #E385EC;
}
.secondary-bg{
background-color: #E385EC ;
}