<div class="view-card flex flex-col items-center">
    <h1 class="text-xl primary-text font-bold mt-3">Flipkart Axis Bank Credit Card</h1>

    <div class="card-form flex gap-3 xs:gap-5 mt-4 items-center">
        <div class="inp-field flex xs:flex-row flex-col items-center xs:gap-5">
            <p class="label font-bold w-44 mb-2 xs:mb-0 text-xs xs:text-sm">Cardholder Name</p>
            <p class="text px-4 py-2.5 rounded-t-lg min-w-44 xs:min-w-52 select-none">Pranav Katiyar</p>
        </div>
        <div class="mt-6 xs:mt-0 icon">
            <copy-icon class=""></copy-icon>
        </div>
    </div>

    <!-- <div class="card-form flex gap-5 mt-4 items-center">
        <div class="inp-field flex xs:flex-row flex-col items-center xs:gap-5">
            <p class="label mb-1.5 xs:mb-0">Cardholder Name</p>
            <p class="text">Pranav Katiyar</p>
        </div>
        <div class="mt-6 xs:mt-0">
            <copy-icon class=""></copy-icon>
        </div>
    </div> -->

</div>