.inp-field .label {
    color: var(--primary-text-color);
}

.inp-field .text {
    background-color: white;
    border: 2px solid var(--secondary-text-color);
    font-size: 14px;
}

@media (min-width:480px) {
    .inp-field .text {
        background-color: white;
        border: 2px solid var(--secondary-text-color);
        font-size: 16px;
    }
}