<div class="view-card flex flex-col items-center">
    <h1 class="text-lg xs:text-xl primary-text font-bold mt-3 text-center w-11/12">Flipkart Axis Bank Credit Card</h1>

    <div class="card-form w-11/12 flex gap-3 xs:gap-5 mt-4 items-center justify-center">
        <div class="inp-field w-4/5 flex xs:flex-row flex-col items-start xs:items-center xs:gap-5">
            <p class="label font-bold sm:min-w-48 w-44 mb-2 xs:mb-0 text-xs xs:text-sm">Cardholder Name</p>
            <p class="text w-full px-4 py-2.5 rounded-t-lg xs:min-w-52">Pranav Katiyar</p>
        </div>
        <div class="mt-6 xs:mt-0 icon">
            <copy-icon class=""></copy-icon>
        </div>
    </div>
    <div class="card-form w-11/12 flex gap-3 xs:gap-5 mt-4 items-center justify-center">
        <div class="inp-field w-4/5 flex xs:flex-row flex-col items-start xs:items-center xs:gap-5">
            <p class="label font-bold sm:min-w-48 w-44 mb-2 xs:mb-0 text-xs xs:text-sm">Card Number</p>
            <p class="text w-full px-4 py-2.5 rounded-t-lg xs:min-w-52">xxxx-xxxx-xxxx-2930</p>
        </div>
        <div class="mt-6 xs:mt-0 icon">
            <copy-icon class=""></copy-icon>
        </div>
    </div>
    <div class="card-form w-11/12 flex gap-3 xs:gap-5 mt-4 items-center justify-center">
        <div class="inp-field w-4/5 flex xs:flex-row flex-col items-start xs:items-center xs:gap-5">
            <p class="label font-bold sm:min-w-48 w-44 mb-2 xs:mb-0 text-xs xs:text-sm">CVV Code</p>
            <p class="text w-full px-4 py-2.5 rounded-t-lg xs:min-w-52">012</p>
        </div>
        <div class="mt-6 xs:mt-0 icon">
            <copy-icon class=""></copy-icon>
        </div>
    </div>
    <div class="card-form w-11/12 flex gap-3 xs:gap-5 mt-4 items-center justify-center">
        <div class="inp-field w-4/5 flex xs:flex-row flex-col items-start xs:items-center xs:gap-5">
            <p class="label font-bold sm:min-w-48 w-44 mb-2 xs:mb-0 text-xs xs:text-sm">Card Expiry Date</p>
            <p class="text w-full px-4 py-2.5 rounded-t-lg xs:min-w-52">01/29</p>
        </div>
        <div class="mt-6 xs:mt-0 icon">
            <copy-icon class=""></copy-icon>
        </div>
    </div>
    <div class="card-form w-11/12 flex gap-3 xs:gap-5 mt-4 items-center justify-center">
        <div class="inp-field w-4/5 flex xs:flex-row flex-col items-start xs:items-center xs:gap-5">
            <p class="label font-bold sm:min-w-48 w-44 mb-2 xs:mb-0 text-xs xs:text-sm">Card Limit</p>
            <p class="text w-full px-4 py-2.5 rounded-t-lg xs:min-w-52">1000000</p>
        </div>
        <div class="mt-6 xs:mt-0 icon w-12 h-12">
            <!-- <copy-icon class=""></copy-icon> -->
        </div>
    </div>
    <div class="card-form w-11/12 flex gap-3 xs:gap-5 mt-4 items-center justify-center">
        <div class="inp-field w-4/5 flex xs:flex-row flex-col items-start xs:items-center xs:gap-5">
            <p class="label font-bold sm:min-w-48 w-44 mb-2 xs:mb-0 text-xs xs:text-sm">Card Type</p>
            <p class="text w-full px-4 py-2.5 rounded-t-lg xs:min-w-52">Rupay</p>
        </div>
        <div class="mt-6 xs:mt-0 icon w-12 h-12">
            <!-- <copy-icon class=""></copy-icon> -->
        </div>
    </div>

</div>